{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'基本信息'}}{{/block}}

{{block 'body'}}
<section class="container">
    {{include '../_partials/settings-nav.html'}}
    <div class="col-md-5">
        <form id="userInfo">
            <div class="form-group">
                <label for="exampleInputEmail1">账号</label>
                <p class="form-control-static">{{ user.email }}</p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">昵称</label>
                <input class="form-control" id="exampleInputPassword1" placeholder=""
                       value="{{ user.nickname }}" name="nickname">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">介绍</label>
                <textarea class="form-control" rows="3" name="bio">{{ user.bio }}</textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">公告栏</label>
                <textarea class="form-control" rows="3" name="BulletinBoard">{{ user.BulletinBoard }}</textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">性别</label>
                <div>
                    {{ if user.gender === 0}}
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="0" checked> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="1"> 女
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="-1"> 保密
                    </label>
                    {{ else if user.gender === 1}}
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="0"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="1" checked> 女
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="-1"> 保密
                    </label>
                    {{ else }}
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="0"> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="1"> 女
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="-1" checked> 保密
                    </label>
                    {{ /if }}
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">生日</label>
                <input type="date" class="form-control" placeholder="" name="birthday"
                       value="{{ user._birthday }}">
            </div>
            <button type="submit" class="btn btn-success">保存</button>
        </form>
    </div>
    <div class="col-md-2 profile-avatar">
        <dl>
            <dt>头像设置</dt>
            <dd>
                <img width="145" height="145" src="{{ user.avatar }}" alt="..." class="img-thumbnail">
                <div>
                    <button class="btn btn-default" href="">Upload new picture</button>
                </div>
            </dd>
        </dl>
    </div>
</section>
<script>
    $('#userInfo').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        $.ajax({
            url: '/settings/profile/{{ id }}',
            type: 'put',
            data: formData + '&_method=put',
            dataType: 'json',
            success: function (data) {
                if (data.err_code !== 0) {
                    window.alert('更新失败！')
                } else {
                    window.alert('更新成功！')
                    // window.location.href = '/settings/profile'
                    window.location.reload()
                }
            }
        })
    })
</script>
{{/block}}
