{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}

<style>
    .panel .panel-heading .action i {
        margin-right: 10px;
    }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>{{ topic.titel }}</h1>
            <hr>
            <h4>
                <a href="/user/index?name={{ topic.auther }}" style="text-decoration:none;">
                    <span class="label label-primary">作者：{{ topic.auther }}</span>
                </a>
                <span class="label label-warning">{{ topic._created_time }}</span>
            </h4>
            <hr>
            <!--            <div id="content"></div>-->
            <article class="markdown-body" id="content"><%=#content %>
            </article>
            <hr>
            <br><br><br>
            {{ if user }}
            <div class="checkbox checkbox-slider--b">
                <label>
                    {{ if flag === true }}
                    <input type="checkbox" id="Attention" checked><span>关注</span>
                    {{ else falg === false }}
                    <input type="checkbox" id="Attention"><span>关注</span>
                    {{ /if }}
                </label>
            </div>
            {{ /if }}
            <hr>

            {{ each comments }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong><a href="/user/index?name={{ $value.sender }}" style="text-decoration:none;">{{
                        $value.sender }}</a></strong>&nbsp;
                    {{ if $index === 0 }}
                    <span class="label label-success">new</span>
                    {{ /if }}

                    {{ if $value.sender === $value.recipient }}
                    <span class="label label-warning">作者</span>
                    {{ /if }}

                    {{ if $value.sender === user.nickname }}
                    <span class="label label-info">me</span>
                    {{ /if }}

                    <span class="action">
                        {{ if user }}
                        {{ if user.nickname === topic.auther }}
                       <span class="label pull-right">
                            <a href="#" onclick="removeComment('{{ $value.id }}');return false;"><i
                                    class="glyphicon glyphicon-remove-circle" style="font-size: 14px"></i></a>
                       </span>
                        {{ else if $value.sender === user.nickname}}
                       <span class="label pull-right">
                            <a href="#" onclick="removeComment('{{ $value.id }}');return false;"><i
                                    class="glyphicon glyphicon-remove-circle" style="font-size: 14px"></i></a>
                       </span>
                        {{ /if }}
                        {{ /if }}
                        <span class="label label-default pull-right">{{ $value._created_time }}</span>
                    </span>
                </div>
                <div class="panel-body">
                    {{ $value.content }}
                </div>
            </div>
            {{ /each }}

            <hr>
            <form id="commentForm">
                {{ if user }}
                <div class="form-group">
                    <label for="exampleInputPassword1">添加回复</label>
                    <textarea class="form-control" name="content" id="" cols="10" rows="10"
                              placeholder="请添加你要回复的消息"></textarea>
                    <input type="text" name="recipient" value="{{ topic.auther }}" hidden>
                    <input type="text" name="topicName" value="{{ topic.titel }}" hidden>
                    <input type="text" name="topicId" value="{{ topic.id }}" hidden>
                </div>
                <button type="submit" class="btn btn-success">回复</button>
                {{ else }}
                <div class="form-group">
                    <label for="exampleInputPassword1">添加回复</label>
                    <textarea class="form-control" name="content" cols="10" rows="10"
                              placeholder="只允许登录用户发表评论，游客请注册登录！"></textarea>
                </div>
                <button type="submit" class="btn btn-success" disabled>回复</button>
                {{ /if }}
            </form>
        </div>
    </div>
</section>

<script>
    $('#commentForm').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        var url = '/topics/info?id={{ topic._id }}'
        url.replace(/&#34;/gi, '')
        $.ajax({
            type: 'get',
            url: '/comment/submit',
            dataType: 'json',
            data: formData,
            success: function (res) {
                if (res.err_code === 1) {
                    window.alert('请不要回复空内容！')
                } else {
                    window.alert('回复成功！')
                    window.location.reload()
                }
            }
        })
    })

    $('#Attention').on('click', function () {
        // console.log($(this).prop('checked'))
        var isAttention = $(this).prop('checked')
        var data = {
            topicId: '{{ topic.id }}',
            topicName: '{{ topic.titel }}',
            userId: '{{ topic.userId }}',
            auther: '{{ topic.auther }}',
            Topic_type: '{{ topic.Topic_type }}',
            falg: isAttention
        }
        $.ajax({
            type: 'get',
            url: '/attention',
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.err_code === 0) {
                    window.alert('关注成功！')
                    window.location.reload()
                } else if (res.err_code === 1) {
                    window.alert('已取消关注')
                    window.location.reload()
                } else if (res.err_code === 2) {
                    window.alert('已经关注了')
                    window.location.reload()
                }
            }
        })
    })

    function removeComment(id) {
        // console.log('要删除评论的ID：', id)
        // 前端考虑到兼容问题，尽量不使用像模板字符串，这些Est6新语法
        var url = '/comment/delete/' + id
        if (window.confirm('确认删除这条评论吗？')) {
            $.ajax({
                type: 'delete',
                url: url,
                success: function (res) {
                    if (res.err_code !== 200) {
                        window.alert('删除失败！请重试')
                    } else {
                        window.location.reload()
                    }
                }
            })
        }
    }
</script>
{{/block}}
