<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{block 'title'}}默认标题{{/block}}</title>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <link rel="shortcut icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{block 'head'}}{{/block}}
</head>

<body>
{{include '../_partials/header.html'}}
{{block 'body'}}{{/block}}
{{include '../_partials/footer.html'}}

{{block 'script'}}{{/block}}
</body>

</html>
