{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
    <ul class="media-list">
        {{ each topicsInfo }}
        <li class="media">
            <div class="media-left">
                <a href="/User/index?id={{ $value.userId }}">
                    <img width="40" height="40" class="media-object" src="{{ $value.avatar }}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="/topics/info?id={{ $value._id }}">{{ $value.titel }}</a></h4>
                <p> ### 回复了问题 • {{ $value.concerns }} 人关注 • {{ $value.commentNum }} 个评论 • {{ $value.pageviews }} 次浏览 •
                    {{ $value._created_time }}</p>
            </div>
        </li>
        {{ /each }}
    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
{{/block}}
