{{extend './_layouts/home.html'}}
{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}
{{block 'body'}}
<section class="container">
    <ul class="media-list">
        {{ each topicsInfo }}
        <li class="media">
            <div class="media-left">
                <a href="/User/index?id={{ $value.userId }}">
                    {{ if $value.Topic_type === '分享'}}
                    <img width="40" height="40" class="media-object" src="/public/img/topicType/Share.png" alt="...">
                    {{ else if $value.Topic_type === '招聘'}}
                    <img width="40" height="40" class="media-object" src="/public/img/topicType/Recruitment.png"
                         alt="...">
                    {{ else if $value.Topic_type === '问答'}}
                    <img width="40" height="40" class="media-object" src="/public/img/topicType/Question.jpg" alt="...">
                    {{ else if $value.Topic_type === '客户端测试'}}
                    <img width="40" height="40" class="media-object" src="/public/img/topicType/Test.png" alt="...">
                    {{ else if $value.Topic_type === '资源分享'}}
                    <img width="40" height="40" class="media-object" src="/public/img/topicType/Resources.png"
                         alt="...">
                    {{ /if }}
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {{ if $value.Topic_type === '分享'}}
                    <span class="label label-primary">分享</span>
                    {{ else if $value.Topic_type === '招聘'}}
                    <span class="label label-warning">招聘</span>
                    {{ else if $value.Topic_type === '问答'}}
                    <span class="label label-success">问答</span>
                    {{ else if $value.Topic_type === '客户端测试'}}
                    <span class="label label-default">客户端测试</span>
                    {{ else if $value.Topic_type === '资源分享'}}
                    <span class="label label-info">资源分享</span>
                    {{ /if }}
                    &nbsp;
                    <a href="/topics/info?id={{ $value._id }}">
                        {{ $value.titel }}
                    </a>
                </h4>
                <p> {{ $value.auther }} | {{ $value.concerns }} 人关注 | {{ $value.commentNum }} 个评论 | {{ $value._pageviews
                    }} 次浏览 |
                    {{ $value._created_time }}</p>
            </div>
        </li>
        {{ /each }}
    </ul>
    {{ if !SearchText }}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {{ /if }}
</section>

<script>
</script>
{{/block}}
