<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源列表</title>
    <link rel="shortcut icon" href="/public/img/favicon_.ico">
    <link href="//cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript"
            src="//cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="//cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="/" style="text-decoration: none">首页</a>
                </li>
                <li class="active">
                    资源列表
                </li>
            </ul>
            <div class="page-header">
                <h1>
                    资源列表
                </h1>
            </div>
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                标题
                            </th>
                            <th>
                                链接
                            </th>
                            <th>
                                备注
                            </th>
                            <th>
                                更新时间
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                歧路旅人硬盘免装版
                            </td>
                            <td>
                                <a href="https://pan.baidu.com/share/init?surl=x5bwLTCngiBZ5h_wbqdd7w">
                                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                </a>
                            </td>
                            <td>
                                密码：26w7
                            </td>
                            <td>
                                2021-01-28
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                坂井泉水音乐专辑
                            </td>
                            <td>
                                <a href="https://pan.baidu.com/s/13GQBKpA9m9no2ztDK1Zggw">
                                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                </a>
                            </td>
                            <td>
                                密码：zxjw
                            </td>
                            <td>
                                2021-01-31
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                毛选第五卷
                            </td>
                            <td>
                                <a href="https://pan.baidu.com/s/11quKSqSiOueDuzlh1x756A">
                                    <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                </a>
                            </td>
                            <td>
                                密码：hi91
                            </td>
                            <td>
                                2021-01-31
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 column">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                公告栏
                            </h3>
                        </div>
                        <div class="panel-body">
                            暂无消息
                        </div>
                        <div class="panel-footer">
                            最后更新：2021-01-30
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
