<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img width="90px" src="/public/img/logo3.png" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul> -->
            <form class="navbar-form navbar-left" id="formSearch">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="searchValue" name="value">
                    <button class="btn btn-default" type="submit">查询</button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {{ if user }}
                <a class="btn btn-default navbar-btn" href="/topics/new">发起</a>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><img width="20" height="20" src="{{ user.avatar }}" alt="">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-current-user">
                            当前登录用户: {{ user.nickname }}
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/User/index?id={{ user._id }}">个人主页</a></li>
                        <li><a href="/settings/profile">设置</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
                {{ else }}
                <a class="btn btn-primary navbar-btn" href="/login">登录</a>
                <a class="btn btn-success navbar-btn" href="/register">注册</a>
                {{ /if }}

                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        在线人数 {{ userOnline }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/onlineUsers">查看在线用户</a></li>
                        <li><a href="#">资源下载</a></li>
                        <li><a href="#">管理员主页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">论坛反馈</a></li>
                    </ul>
                </div>
                <!--                <span class="label label-warning">在线人数：{{ userOnline }}</span>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<script type="text/javascript">
    $('#formSearch').on('submit', function (e) {
        e.preventDefault()
        // 进行数据处理去除所有空格，使用MongoDB的模糊查询，而不是直接取出所有数据进行筛选查询
        // 这里后端返回的是渲染好的html数据，所以数据类型设置为 html ，获取后直接替换body的内容即可
        // 这里记得在 header.html 里面设置 依赖项模板渲染判断，否者在body里面引入会产生警告错误
        var formData = $(this).serialize()
        $.ajax({
            type: 'get',
            url: '/index',
            data: formData,
            dataType: 'html',
            success: function (res) {
                $('body').html(res)
            }
        })
    })
</script>
