{{ if url === '/settings/profile' }}
<div class="col-md-3 list-group" style="width: 220px;">
    <a href="#" class="list-group-item disabled">用户设置</a>
    <a href="/settings/profile" class="list-group-item active">基本信息</a>
    <a href="/settings/admin" class="list-group-item">账户设置</a>
    <a href="/settings/myTopics" class="list-group-item">我的话题</a>
    <a href="/settings/myCollections" class="list-group-item">我的收藏</a>
</div>
{{ else if url === '/settings/admin'}}
<div class="col-md-3 list-group" style="width: 220px;">
    <a href="#" class="list-group-item disabled">用户设置</a>
    <a href="/settings/profile" class="list-group-item ">基本信息</a>
    <a href="/settings/admin" class="list-group-item active">账户设置</a>
    <a href="/settings/myTopics" class="list-group-item">我的话题</a>
    <a href="/settings/myCollections" class="list-group-item">我的收藏</a>
</div>
{{ else if url === '/settings/myTopics' }}
<div class="col-md-3 list-group" style="width: 220px;">
    <a href="#" class="list-group-item disabled">用户设置</a>
    <a href="/settings/profile" class="list-group-item ">基本信息</a>
    <a href="/settings/admin" class="list-group-item ">账户设置</a>
    <a href="/settings/myTopics" class="list-group-item active">我的话题</a>
    <a href="/settings/myCollections" class="list-group-item">我的收藏</a>
</div>
{{ else if url === '/settings/myCollections' }}
<div class="col-md-3 list-group" style="width: 220px;">
    <a href="#" class="list-group-item disabled">用户设置</a>
    <a href="/settings/profile" class="list-group-item ">基本信息</a>
    <a href="/settings/admin" class="list-group-item ">账户设置</a>
    <a href="/settings/myTopics" class="list-group-item">我的话题</a>
    <a href="/settings/myCollections" class="list-group-item active">我的收藏</a>
</div>
{{ /if }}
